.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.section__secondary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

.container-days {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 15px 0;
}

.section__secondary h3 {
  margin-bottom: 25px;
  color: var(--text-color);
  font-size: 2.2rem;
}

.container-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .container-days {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;
  }

  .section__secondary {
    padding: 0 35px;
  }

  .container-features {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    gap: 20px;
    max-width: 700px;
  }
}