:root {
  --primary-color: #100E1D;
  --secondary-color: #1E213A;
  --text-color: #E7E7EB;
  --secondary__text-color: #A09FB1;
  --success-color: #38C172;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: block;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

body {
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}